[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "npm ci --prefer-offline --no-audit --cache=/tmp/.npm"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "node server.js"

